{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


{{ macros.render_entry(entry) }}
<ul class="list-unstyled">
   <li>
     <h2>Are you sure you want to delete this post?</h2>
   </li>
   <li>
   <p>
   <a href="{{ url_for('blog_entry', id=entry.id) }}">
   Cancel
   </a>&nbsp;&nbsp;<a href="{{ url_for('delete_entry', id=entry.id) }}">
   Delete
   </a>
   </p>
   </li>
</ul>
<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}