{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <h5>
            {{ entry.author.name | default("Anonymous") }}
        </h5>
        <ul class="list-unstyled">
            <li>
                <h5>{{ entry.datetime | dateformat("%x") }}</h5>
                <h5>{{ entry.datetime | dateformat("%X") }}</h5>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
             <a href="{{ url_for('blog_entry', id=entry.id) }}">
              {{ entry.title }}
          </a>
        </h1>
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}
